<section id="health-assistant" class="assistant-section">
  <div class="assistant-card">

    <!-- Left Content -->
    <div class="assistant-info">
      <span class="tag">✨ AI POWERED</span>

      <h2>Your Personal Health Assistant</h2>

      <p>
        Get instant health advice and symptom analysis powered by
        advanced AI. Available 24/7 to answer your healthcare questions.
      </p>

      <button  class="assistant-btn" routerLink='/ai-chatbot' >

        🤖 Talk to Health Assistant
      </button>
      
    </div>

    <!-- Right Chat Preview -->
    <div class="assistant-chat">
      <div class="chat user">
        I have headache and nausea for the past 2 days
      </div>

      <div class="chat ai">
        Based on your symptoms, you may be experiencing migraine.
        I recommend consulting a Neurologist.
        Would you like me to find nearby specialists?
      </div>

      <small class="note">
        ℹ️ This is general information only, not a medical diagnosis.
      </small>
    </div>

  </div>
</section>
