<div class="chat-container">

    <div class="chat-body" #chatBody>

        <div *ngFor="let msg of messages" class="message-wrapper" [ngClass]="msg.type">

            <div class="bubble">
                {{ msg.text }}
            </div>

        </div>

        <div *ngIf="loading" class="message-wrapper assistant">
            <div class="bubble typing">
                AI is typing...
            </div>
        </div>

    </div>

    <div class="footer">
        <textarea #userInputTextarea [(ngModel)]="userInput" placeholder="Describe your symptoms..." rows="1"
            (input)="autoGrowTextArea($event)" (keydown)="handleKeyDown($event)">
        </textarea>

        <button (click)="sendMessage()">Send</button>
    </div>

</div>